@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-heading;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial Narrow";
  font-size: 32px;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
